.iconList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: .5rem 0 .25rem;
  list-style-type: none;
  padding-left: 0;

  li {
    margin-right: 20px;
  }
}