.stack {
  width: 75%;
  max-width: 1024px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  h2 {
    color: var(black);
    background-color: var(--gray-10);
    padding: 0.5em;
  }

  a {
    word-wrap: break-word;
  }

  ul {
    list-style: revert;
    padding-left: revert;
  }

  pre {
    background-color: #1d2020;
    color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  blockquote {
    background-color: #fafbfc;
    border: 1px solid #ddd;
    padding: 1.5em 1.75em;
    position: relative;

    &::before {
      color: #c8c8c8;
      content: "“";
      font-family: serif;
      font-size: 300%;
      left: 10px;
      line-height: 1.1;
      position: absolute;
      top: 0;
    }

    &::after {
      color: #c8c8c8;
      content: "“";
      font-family: serif;
      font-size: 300%;
      right: 10px;
      bottom: 0;
      content: "”";
      line-height: 0;
      position: absolute;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}