.skills {
  display: flex; 
  flex-wrap: wrap;

  li {
    color: var(--gray-75);
    background: var(--gray-10);
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--gray-10);
    border-radius: 0.25rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.worksItem {
  display: flex;
  border: 1px solid var(--gray-10);
  border-radius: 0.25rem;
  padding: 0.5rem 0 0 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.worksDesc {
  width: 100%;
}

