.skills {
  display: flex; 
  flex-wrap: wrap;

  li {
    color: var(--gray-75);
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--gray-10);
    border-radius: 0.5rem;

    &:first-child {
      margin-left: 0;
    }
  }
}